/* ==========================
   PAGE
========================== */

.editor-page{
    min-height:100vh;
    background:#f3f4f6;
}

/* ==========================
   NAVBAR
========================== */

.editor-header{
    height:70px;
    background:#ffffff;
    border-bottom:1px solid #dcdcdc;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 28px;

    position:sticky;
    top:0;
    z-index:100;
}

.editor-header h1{
    font-size:28px;
    font-weight:700;
    color:#2d2d2d;
    letter-spacing:.3px;
}

.navbar-actions{
    display:flex;
    align-items:center;
    gap:18px;
}

/* ==========================
   TOOLBAR
========================== */

.editor-toolbar{
    display:flex;
    align-items:center;
    gap:12px;
}

.tool-btn{
    padding:10px 18px;
    background:#ffffff;
    color:#333;
    border:1px solid #d6d6d6;
    border-radius:8px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.25s;
}

.tool-btn:hover{
    background:#f4f4f4;
    border-color:#bfbfbf;
}

.tool-btn:active{
    transform:scale(.96);
}

/* Run Button */

.tool-btn:first-child{
    background:#2563eb;
    color:white;
    border:none;
}

.tool-btn:first-child:hover{
    background:#1d4ed8;
}

/* ==========================
   LANGUAGE
========================== */

.language-select{
    padding:10px 14px;
    border:1px solid #d6d6d6;
    border-radius:8px;

    font-size:15px;
    background:white;

    cursor:pointer;

    outline:none;

    transition:.25s;
}

.language-select:hover{
    border-color:#9ca3af;
}

.language-select:focus{
    border-color:#2563eb;
}

/* ==========================
   CODE AREA
========================== */

.editor-container{
    padding:25px;
}

.code-area{
    border-radius:10px;
    overflow:hidden;

    border:1px solid #d8d8d8;

    box-shadow:0 3px 8px rgba(0,0,0,.08);
}

/* ==========================
   TERMINAL
========================== */

.terminal{
    margin:25px;
}

.terminal-header{
    background:#2d2d2d;
    color:white;

    padding:10px 16px;

    border-radius:8px 8px 0 0;

    font-weight:600;
}

.output-box{

    background:#1e1e1e;
    color:#7CFC00;

    min-height:170px;

    padding:18px;

    border-radius:0 0 8px 8px;

    font-family:Consolas, monospace;

    white-space:pre-wrap;

    border:1px solid #333;
}
